.auth-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #444; /* Darker border color */
    border-radius: 10px; /* Make edges rounder */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Make the box shadow darker */
    background: #fff;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value (0.9) to control transparency */
    text-align: center; /* Center the form content */
  }
.auth-form {
    text-align: left;
  }
 
.form-head{
    color: #444;
    text-align: center;
    font-size: 30px;
}

  .rounded-input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin: 5px 0;
  }
 
  .centered-btn {
    margin-top: 10px;
  }
